@import "../../styles/_colors";

.ml-search-box {
  background-color: $ml_background;
  border-color: $ml_background;

  &__form {
    .form-group {
      display: inline;
    }

    .input-group {
      display: table;

      span.input-group-addon {
        width: 1%;
      }
    }
  }

  .navbar-brand {
    padding: 8px 15px;
  }
}
